<% if @user == current_user %>

    <h1 align="center">Welcome to <%= @user.username %>'s page</h1>

    <%= render 'shared/journals', obj: @user.journals %>

    <h2>Your Journal entries: <%= @user.journals.count {|entry| entry} %> </h2>
     
     
     <%= @user_positive %>




<% end %>

