
<% if !logged_in?%>
<center><h2>Welcome to Book & Zhen, please sign up or login to get more mindful!</h2></center>

<% end %>


<% if logged_in?%>
<center><h2>Welcome to Book & Zhen</h2></center>


        <div class="col-sm-12">
          <br><br>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-4 placeholder">
              <img src="http://cdn.shopify.com/s/files/1/2048/8041/products/Garden_Journal-4694_1024x1024.jpg?v=1541189817" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4><%= link_to "Journal", new_journal_path %></h4>
              <span class="text-muted">Log your feelings for the day</span>
            </div>
            <div class="col-xs-6 col-sm-4 placeholder">
              <img src="http://cd5vo46ju4834fu142zvmudg.wpengine.netdna-cdn.com/wp-content/uploads/7-ways-let-go-feel-less-stress-asap1.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4><%= link_to "Meditate", meditations_path %></h4>
              <span class="text-muted">Take one of our awesome meditations brah'</span>
            </div>
            <div class="col-xs-6 col-sm-4 placeholder">
              <img src="http://www.leeds-mindfulness.uk/wp-content/uploads/2016/08/mindfulness-events-leeds.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Events</h4>
              <span class="text-muted">Find and book your events</span>
            </div>

          </div>

        </div>


  <%= render 'shared/stats' %>  
   

 <% end %>


  