// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
 float: left;
 font-size: 1.7em;
 color: black;
 text-transform: uppercase;
 letter-spacing: -1px;
 font-weight: bold;
}
.journal-body {
 border-top: 1px solid #eaeaea;
 padding-top: 15px;
 padding-bottom: 15px;
}

.journal-title{
    font-weight: bold;
    font-size: 1.5em;
}

#logo:hover {
 color: #fff;
 text-decoration: none;
}
.journal-actions {
 border-top: 1px solid #eaeaea;
 padding-top: 5px;
}
.journal-title {
 font-weight: bold;
 font-size: 1.5em;
}
.journal-body {
 border-top: 1px solid #eaeaea;
 padding-top: 15px;
 padding-bottom: 15px;
}
.journal-meta-details {
 border-top: 1px solid #eaeaea;
 margin-top: 15px;
}
.body {
 margin-top: 0;
}
.listing {
 list-style: none;
 padding-left: 0;
}



// beginning of signup style

.alert,
.brand,
.btn-simple,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.navbar,
.td-name,
a,
body,
button.close,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400
}

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
    font-weight: 300;
    margin: 30px 0 15px
}

.h1,
h1 {
    font-size: 52px
}

.h2,
h2 {
    font-size: 36px
}

.h3,
h3 {
    font-size: 28px;
    margin: 20px 0 10px
}

.h4,
h4 {
    font-size: 22px;
    line-height: 30px
}

.h5,
h5 {
    font-size: 18px;
    margin-bottom: 15px
}

.h6,
h6 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase
}

p {
    font-size: 16px;
    line-height: 1.5
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    color: #9a9a9a;
    font-weight: 300;
    line-height: 1.5
}

h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
    font-size: 60%
}

h1 .subtitle {
    display: block;
    margin: 0 0 30px
}

.text-muted {
    color: #9a9a9a
}

.text-primary,
.text-primary:hover {
    color: #1d62f0!important
}

.text-info,
.text-info:hover {
    color: #23ccef!important
}

.text-success,
.text-success:hover {
    color: #87cb16!important
}

.text-warning,
.text-warning:hover {
    color: #ffa534!important
}

.text-danger,
.text-danger:hover {
    color: #fb404b!important
}

.text-space {
    padding: 70px 0
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh
}

.wrapper:after {
    display: table;
    clear: both;
    content: " "
}

.wrapper.wrapper-full-page {
    height: auto;
    min-height: 100vh
}

.full-page:after,
.full-page:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2
}

.full-page:before {
    opacity: .33;
    background: #000
}

.full-page:after {
    background: #787878;
    background: linear-gradient(to bottom, #787878 0, rgba(52, 52, 52, .4) 100%);
    background-size: 150% 150%;
    z-index: 3;
    opacity: 1
}

.full-page>.content,
.full-page>.footer {
    position: relative;
    z-index: 4
}

.full-page>.content {
    min-height: calc(100vh - 70px)
}

.full-page .full-page-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center
}

.full-page.has-image:after,
.full-page[data-image]:after {
    opacity: .9
}

.full-page[data-color=blue]:after {
    background: #447df7;
    background: linear-gradient(to bottom, #447df7 0, rgba(83, 60, 225, .6) 100%);
    background-size: 150% 150%
}

.full-page[data-color=azure]:after {
    background: #23ccef;
    background: linear-gradient(to bottom, #23ccef 0, rgba(64, 145, 255, .6) 100%);
    background-size: 150% 150%
}

.full-page[data-color=green]:after {
    background: #87cb16;
    background: linear-gradient(to bottom, #87cb16 0, rgba(109, 192, 48, .6) 100%);
    background-size: 150% 150%
}

.full-page[data-color=orange]:after {
    background: #ffa534;
    background: linear-gradient(to bottom, #ffa534 0, rgba(236, 22, 87, .6) 100%);
    background-size: 150% 150%
}

.full-page[data-color=red]:after {
    background: #fb404b;
    background: linear-gradient(to bottom, #fb404b 0, rgba(187, 5, 2, .6) 100%);
    background-size: 150% 150%
}

.full-page[data-color=purple]:after {
    background: #9368e9;
    background: linear-gradient(to bottom, #9368e9 0, rgba(148, 59, 234, .6) 100%);
    background-size: 150% 150%
}

.full-page .footer,
.full-page .footer .copyright a,
.full-page .footer nav>ul a:not(.btn) {
    color: #fff;
    font-size: 14px
}

.full-page .footer .copyright {
    color: rgba(255, 255, 255, .5)
}

.lock-page>.content,
.login-page>.content {
    padding-top: 22vh
}



.card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), 0 0 0 1px rgba(63, 63, 68, .1);
    background-color: #fff;
    margin-bottom: 30px
}

.card .content {
    padding: 15px
}

.card .content-no-padding {
    padding: 0
}

.card .content-no-padding .map {
    margin-top: 15px;
    border-radius: 0
}

.card .content-full-width {
    padding: 15px 0
}

.card .header {
    padding: 15px 15px 0;
    color: #333;
    font-weight: 300;
    font-size: 22px
}

.card .footer {
    padding: 0 15px 10px;
    background-color: transparent;
    line-height: 30px;
}

.card .category,
.card .form-group>label {
    font-size: 14px;
    font-weight: 400;
    color: #888;
    margin-bottom: 0
}

.card .category.error,
.card .form-group>label.error {
    text-transform: none;
    color: #fb404b
}

.card .category i,
.card .form-group>label i {
    font-size: 16px
}

.card .form-group>label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase
}


.login-page .card .header {
    padding-bottom: 30px;
}


.login-page .card {
    box-shadow: 0 25px 30px -13px rgba(40, 40, 40, .4);
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.login-page .card .btn-wd {
    min-width: 180px;
}

.btn {
    border-width: 1px;
    background-color: transparent;
    font-weight: 400;
    opacity: .8;
    filter: alpha(opacity=80);
    padding: 8px 16px;
    border-color: #888;
    color: #888;
}

.btn-danger {
    border-color: #fb404b;
    color: #fb404b
}

.btn-danger.btn-fill {
    color: #fff;
    background-color: #fb404b;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-wd {
    min-width: 140px
}



.form-control {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
    box-shadow: none;
}

.form-control:focus {
    background-color: #fff;
    border: 1px solid #aaa;
    box-shadow: none;
    outline: 0!important;
    color: #333
}

// end of sign up style

// homepage style

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


// homepage style end